<!DOCTYPE html>
<html lang="en">
  {{>commonheader}}
  {{>pageheader}} 

     <div class="container auto px-lg-5">
     <h1 class="font-weight-bold" style= "color:#f4623a; margin-top:2em;">Dance to Code Project</h1> 
     <p> I am Fiona MacRae Fairlie and this site is part of the research being carried out for my PhD at Glasgow Caledonian University.</p>
     
     <p>As an experienced, computing lecturer, former school teacher and qualified Scottish Country Dance teacher I have designed a series of dance related activities which I am confident should enhance pupils’ computational thinking skills.
Computational thinking and programming skills are important for the current generation of learners. Research suggests that there is potential for dance related activities to enhance computational thinking skills and performance on programming task.
Key elements of computational thinking include abstraction, decomposition, algorithmic thinking, problem solving, spatial ability and pattern recognition.</p>
 <img src="assets/img/ctdiagram.png" " alt="dance diagram">
<p>Physical activity and dance have been shown to improve pattern recognition, algorithmic thinking, problem solving and spatial awareness. Transcribing dance to diagrammatic notation appears to encourage abstraction, decomposition and pattern recognition. Thus physical structured dance activities together with transcription should help to develop key areas of cognition related to computational thinking. 
The activities in the project involve pupils learning some traditional Scottish Country Dances, transcribing the dances to paper, creating new dances and programing animations of the new dances using Scratch. The activities are suitable for pupils in P4 and P5.
All of the tasks have been designed with regard to the Curriculum for Excellence. The early activities are “unplugged” and are possible without computers. Later activities involve programming in Scratch so will require the use of computers.</p> 
     <p>If you are interested in the project and want to find out more I can be contacted at FFAIRL200@caledonian.ac.uk</p>
    
    </section>
    {{>commonfooter}}  
    </body>
</html>
