<!DOCTYPE html>
<html lang="en">
  {{>commonheader}}
  {{>pageheader}}  
   {{>subnav}}  
    <section>
<div class="container auto px-lg-5">
     <h1 class="font-weight-bold" style= "color:#f4623a; margin-top:2em;">Dance Animations</h1>
       <p>Dancers can also use animations to help them understand dances. </p>
       
       <p>Here is an example of an animationof the dance The Highland Fair </p>
       
       <iframe width="638" height="384" src="https://www.youtube.com/embed/0SwknQRJ8tA" title="Highland Fair" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       
       <p>&nbsp;</p>
       <p>Here is an animation of the same dance written using Scratch </p>
       
       
           <iframe src="https://scratch.mit.edu/projects/572071685/embed" allowtransparency="true" width="485" height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>
   </div> 
    </section>
    {{>commonfooter}}  
    </body>
</html>
