<!DOCTYPE html>
<html lang="en">
  {{>commonheader}}
  {{>pageheader}} 

     <div class="container auto px-lg-5">
         <h1 class="font-weight-bold" style= "color:#f4623a; margin-top:2em;"> Dance to Code Project </h1>
     <div> 
          <p> This site is part of the research being carried out for a PhD project at Glasgow Caledonian University.</p>
       <p>If you are interested in the project and want to find out more please contact Fiona MacRae Fairlie at FFAIRL200@caledonian.ac.uk</p>
    
    </section>

    </body>
</html>
