<!DOCTYPE html>
<html lang="en">
  {{>commonheader}}
  {{>pageheader}}
   {{>subnav}}  
     <div class="container auto px-lg-5">
     <h1 class="font-weight-bold" style= "color:#f4623a; margin-top:2em;">Dance Diagrams</h1>
      <div class="row gx-4 gx-lg-5">
          <div class="col-lg-3 col-md-6 text-center">
               <div class="mt-5"> 
                  <img src="assets/img/symbols/ccbluepath1.png" " alt="dance symbol">
                   <p class="text-muted mb-0"> An example of a symbol used by dancers. </p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
              <p class="text-muted mb-0">Scottish Country Dances are made up of a series of formations. Dancers often use diagrams to remind themselves about the different formations in a dance.</p>
              <p class="text-muted mb-0">Formations are usually 8 bars, 4 bars or 2 bars long.</p>
             </div> 
          </div>
          <div class="col-lg-3 col-md-6 text-center">
               <div class="mt-5">   
               <p>&nbsp;</p> 
                   <a  href="/pilling" style="text-decoration:none;">Click here to see the symbols for some common formations</a>
               </div> 
          </div>
 <div class="container auto px-lg-5">
      <div class="row gx-4 gx-lg-5">
      <div class="mt-5">  
              <p class="text-muted mb-0"><p> Most dances are 32 bars long. Dance diagrams are split into 8 bars blocks.</p>
              <p class="text-muted mb-0"> <p>So most dance diagrams are made up of 4  x 8 bars blocks.</p>
              <p class="text-muted mb-0"> <p>Look at the examples below. You can click on the diagrams to open a new browser window with more details about each dance.</p>
      </div>
       </div>
          </div>
<div class="container auto px-lg-5">
      <div class="row gx-4 gx-lg-5">
          <div>
               <div class="mt-5"> 
               <a class="portfolio-box" href="https://my.strathspey.org/dd/dancevideo/8865/" target="_blank"  title="The Highland Fair">
                           <img src="assets/img/dances/002_The_Highland_Fair_2910.png" " alt="dance diagram">
                        </a>
                   <p class="text-muted mb-0"> Diagram of the dance Highland Fair. </p>
              </div>
          </div>
          <div>
            <div class="mt-5">
             <a class="portfolio-box" href="https://my.strathspey.org/dd/dancevideo/4394/" target="_blank"  title="Charlestown Chaser">
                            <img src="assets/img/dances/008_CharlestownChaser.png" " alt="dance diagram">
                        </a>
               <p class="text-muted mb-0"> Diagram of the dance Charlestown Chaser. </p>
             </div> 
          </div>
          <div>
               <div class="mt-5">    
                            <a class="portfolio-box" href="https://my.strathspey.org/dd/dancevideo/3221/" target="_blank"  title="Charlestown Chaser">
                             <img src="assets/img/dances/010_gallowayHouse.png" " alt="dance diagram">
                        </a>
                  
                    <p class="text-muted mb-0"> Diagram of the dance Galloway House. </p>
               </div> 
          </div>

      </div>
</div>

</div>
 </div> 
    </section>
    {{>commonfooter}}  
    </body>
</html>
