<!DOCTYPE html>
<html lang="en">
  {{>commonheader}}
  {{>pageheader}}
   {{>stepnav}}  
   <section>
        <div class="container auto px-lg-5">
            <h1 class="font-weight-bold text-center" style= "color:#f4623a; margin-top:2em; ">Slip step</h1>
              <div class="mt-5 text-center"> 
                    <a class="portfolio-box" href="assets/img/steps/slip-step.png" style="width:100%;" title="Slip Step">
                        <img src="assets/img/steps/slip-step-sm.png"  alt="step diagram"> 
                    </a>
                </div>
            <div class="row gx-4 gx-lg-5">                

                <div class="col-lg-6 mt-5 pl-5">
                            <p class="text-muted mb-0 ">Used when dancing round in a circle or when moving while facing partner and holding both hands.</p>
                </div>
                
                <div class="col-lg-6  mt-5">
                      <iframe width="619" height="348" src="https://www.youtube.com/embed/iF-QZqMxb20?start=180&&end=234" title="Reel Scottish Dancing" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
    {{>commonfooter}}  
    </body>
</html>
