<section>
    <nav>
     <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link" href="/home#steps" style="text-decoration:none;">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/skipchange" style="text-decoration:none;">Skip Change </a></li>
        <li class="nav-item"><a class="nav-link" href="/pasdebasque" style="text-decoration:none;">Pas de Basque </a></li>
        <li class="nav-item"><a class="nav-link" href="/slipstep" style="text-decoration:none;">Slip Step</a></li>
     </ul>
    </nav>               
 </section>