<section>
    <nav>
     <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link" href="/home#activities" style="text-decoration:none;">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/written" style="text-decoration:none;"> Dance Instructions </a></li>
        <li class="nav-item"><a class="nav-link" href="/diagrams" style="text-decoration:none;">Dance Diagrams </a></li>
        <li class="nav-item"><a class="nav-link" href="/video" style="text-decoration:none;">Dance Video </a></li>
        <li class="nav-item"><a class="nav-link" href="/animate" style="text-decoration:none;">Dance Animations </a></li>
     </ul>
    </nav>               
 </section>