<!DOCTYPE html>
<html lang="en">
  {{>commonheader}}
  {{>pageheader}}  
  {{>subnav}}  
    <div class="container auto px-lg-5">
     <h1 class="font-weight-bold" style= "color:#f4623a; margin-top:2em;">Dance Videos</h1>
    <p> Here are links to some videos of dances. </p>
    <div class="row gx-4 gx-lg-5">
          <div>
               <div class="mt-5"> 
                     <iframe width="853" height="480" src="https://www.youtube.com/embed/IfZHXhxDmZM" title="Step We Ceilidh" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   <p class="text-muted mb-0"> The Highland Fair </p>
              </div>
        <div >               <div class="mt-5"> 
                     <iframe width="853" height="480" src="https://www.youtube.com/embed/DoUPONyEAcA?start=112" title="Dances for Primary School Festival 2016" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   <p class="text-muted mb-0"> Charlestown Chaser</p>
              </div>
          </div>     
          <div>
               <div class="mt-5"> 
                     <iframe width="853" height="480" src="https://www.youtube.com/embed/BWfhjADUuh4" title="Galloway House" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                 
              
              <p class="text-muted mb-0"> Gaalloway House</p></div>
          </div>
             
      </div>
      </div>
    </section>
    {{>commonfooter}}  
    </body>
</html>
