<!DOCTYPE html>
<html lang="en">
  {{>commonheader}}
  {{>pageheader}}  
      <div class="container auto px-lg-5">
         <h1 class="font-weight-bold" style= "color:#f4623a; margin-top:2em;">Related Work and resource sheets</h1>
         <p> This project teaches some simple Scottish Country Dances and then gets participants to draw the dances using a standard dance notation. Once they have done that they move to animating the dances using Scratchjr. They plan their Scratchjr projects on paper using stickers.<p>
      <p>This page and the Code page have some of the worksheets used in the workshops </p>
     <div> 
      {{#files}}
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">&nbsp;</h4>
          <p class="card-text">
            <a href={{url}}> {{name}}</a>
          </p>
      <div class="card-footer">
      </div>
      </div>
      {{/files}}
      <p> Scratchjr stickers can be downloaded from <a href="http://www.scratchjr.org/teach/resources" target="_blank">here</a>.
    </section>
    {{>commonfooter}}  
    </body>
</html>
