<!DOCTYPE html>
<html lang="en">
{{>commonheader}}
{{>pageheader}}
 {{>subnav}}
       <section>
<div class="container auto px-lg-5">
     <h1 class="font-weight-bold" style= "color:#f4623a; margin-top:2em;">Dance Instruction</h1>
       <p> Written dance instructions can be quite short and easy to follow like the instructions for The Highland Fair given below. </p> 
       <table class="table table-bordered table-striped ">
    <thead>
      <tr>
        <th colspan="3" style= "color:#f4623a;"">Highland Fair</th>
             </tr>
    </thead>
    <tbody>
      <tr>
        <td> Bars 1-8</td>
        <td>First couple cast, dance down behind own lines, turn outwards and  dance back to place</td>

      </tr>
      <tr>
        <td>Bars 9-16</td>
        <td>First and second couples turn partners right hands all the way round (RH) and then left hands all the way back to place (LH)</td>

      </tr>
      <tr>
        <td>Bars 17-24</td>
        <td>First couple followed by second couple lead down the middle then second couple followed by first couple lead back to the top</td>

      </tr>
           <tr>
        <td>Bars 25-32</td>
        <td>Second and first couples dance rights and lefts (RL)</td>

      </tr>
    </tbody>
  </table>   
  <p> &nbsp; </p>
 <p> However some dances are very long and complicated so dancers often use diagrams to help them picture where to go.</p>
 <p> Here is an example of a complicated dance <a href= "pdfs/Southside_Reel.pdf" target="_blank"> Southside Reel</a></p>
  <p>Here are instructions for some other straightforward dances</p>

         <table class="table table-bordered table-striped ">
    <thead>
      <tr>
        <th colspan="3" style= "color:#f4623a;"">Charlestown Chaser</th>
             </tr>
    </thead>
    <tbody>
      <tr>
        <td> Bars 1-8</td>
        <td>First girl followed by all the other girls dance across the set, down behind the boys, back across at the end of the set and back up to places</td>

      </tr>
      <tr>
        <td>Bars 9-16</td>
        <td>Boys repeat the figure: first boy followed by all the other boys dance across the set, down behind the girls, back across the set at the end  and back up to places</td>

      </tr>
      <tr>
        <td>Bars 17-24</td>
        <td>First girl and first boy slip step down middle back to top (in middle)</td>

      </tr>
           <tr>
        <td>Bars 25-28</td>
        <td>First girl and first boy cast to the end of the set</td>

      </tr>
                 <tr>
        <td>Bars 29-32</td>
        <td>All step up and clap 3 times</td>

      </tr>
    </tbody>
     </table> 
    <p> &nbsp; </p>

  
         <table class="table table-bordered table-striped ">
    <thead>
      <tr>
        <th colspan="3" style= "color:#f4623a;"">Galloway House</th>
             </tr>
    </thead>
    <tbody>
      <tr>
        <td> Bars 1-8</td>
        <td>First couple cast off, down behind own sides, turn out & back to places</td>

      </tr>
      <tr>
        <td>Bars 9-16</td>
        <td>First and second couple circle 4 hands round & back</td>

      </tr>
      <tr>
        <td>Bars 17-24</td>
        <td>First couple turn right hand (RH), cast one place & turn left hand (LH)</td>

      </tr>
           <tr>
        <td>Bars 25-32</td>
        <td>Second and first couples dance rights and lefts( RL))</td>

      </tr>
    </tbody>
  </table>  
</div>
         </section>      
 {{>commonfooter}}  
    </body>
</html>
